<div class="product">
    <div class="product-card__container">
        <div class="product-card__img">
            <a href="{{ product_product.url }}">
                {% if product_product.featured_image %}
                    <div class="overflow-hidden">
                        <img class=" object-cover transition duration-1000 ease-in-out hover:scale-105 transform" 
                            src="{{ product_product.featured_image | image_url: width: 300 }}" 
                            alt="{{ product_product.featured_image.alt }}" 
                            loading="lazy"
                            width="300"
                            height="150">
                    </div>
                {% else %}
                    {{ 'product-1' | placeholder_svg_tag: ' object-cover bg-gray-100' }}
                {% endif %}
            </a>
        </div>
        <div class="product-card__content">
           <div class="product-card__orders">
                <a href="{{ product_product.url }}" class="">{{ product_product.title }}</a>
                {% if forloop.index <= 3 %}
                    <span class="card__tag-style style">In Good Taste</span>
                {% else %}
                    <span class="card__tag-style style">Collection</span>
                {% endif %}

                <p class="product-card__text">{{ product_product.price | money }}</p>
                
            </div>    
            <p class="expandable" style="-webkit-line-clamp: 3; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;">{{ product_product.description }}</p>
        </div>
    </div>
</div>
