<div class="product-container">
    {% for product in collection.products %}
        <div class="product">
            <img src="{{ product.featured_image.src | image_url: width: 300, height: 150 }}" 
                alt="{{ product.title }}"
                loading="eager"
                width="300"
                height="auto"
            >
            <div class="star-container">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                {{ product.rating | default: 0 }}
            </div>
            <h2>{{ product.title }}</h2> 

            {% if forloop.index == 1 %}
                <span class="style">In Good Taste</span>
            {% else %}
                <span class="style">Collection</span>
            {% endif %}
            
            <p class="expandable">{{ product.description }}</p>
            
            {% if product.available %}
                <p>{{ product.price | money }}</p>
                <button class="cart-btn" data-product-id="{{ product.id }}" data-product-price="{{ product.price }}">
                    Add to Cart
                </button>
            {% else %}
                <span class="color space">OUT OF STOCK</span>
            {% endif %}
        </div>
    {% endfor %}
</div>
  
{% schema %}
{
    "name": "Template Collection",
    "settings": [
        {
            "type": "number",
            "id": "number_of_products_per_page",
            "default": 6,
            "label": "Number of products per page"
        },
        {
            "type": "collection",
            "label": "Select Collection",
            "id": "selected_collection",
            "info": "Choose the collection to display"
        }
    ]
}
{% endschema %}


  