<div class="product-container">
    {% for product in collection.products %}
        <div class="product">
            <img src="{{ product.featured_image.src | image_url: width: 300, height: 150 }}" 
                alt="{{ product.title }}"
                loading="eager"
                width="300"
                height="auto"
            >
            <div class="star-container">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                {{ product.rating | default: 0 }}
            </div>
            <h2>{{ product.title }}</h2> 

            {% if forloop.index == 1 %}
                <span class="style">In Good Taste</span>
            {% else %}
                <span class="style">Collection</span>
            {% endif %}
            
            <p class="expandable">{{ product.description }}</p>
            
            {% if product.available %}
                <p>{{ product.price | money }}</p>
                <button class="cart-btn" onclick="addToCart(
                    'Club Mini',
                    'New wines, shipped directly to you every other month! Our December " sipment 
                    " features a delicious line-up of mini wines selected by winemaker Matt Smith, that pair perfectly with holiday gatherings. Sign up today to save up to 20% off on all online purchases+ free Ground Shipping on member shipments.',
                    54.0,
                    '//cdn.shopify.com/s/files/1/0683/0007/9353/files/product-3_e95e5aaa-270e-46d9-9474-b140d88006d3.webp?v=1702779465&width=300'
                )">
                    Add to Cart
                </button>
                
                
                
            {% else %}
                <span class="color space">OUT OF STOCK</span>
            {% endif %}
        </div>
    {% endfor %}
</div>
  
{% schema %}
{
    "name": "Template Collection",
    "settings": [
        {
            "type": "number",
            "id": "number_of_products_per_page",
            "default": 6,
            "label": "Number of products per page"
        }
    ]
}
{% endschema %}

  