
<!-- sections/template-cart.liquid -->

{% if request.params.id %}
    <div class="cart-product">
        <img src="{{ request.params.image | image_url: width: 250, scale: 2 }}"
            alt="{{ request.params.title }}" 
            loading="eager"
            width="100" 
            height="auto"
        >
      <h2>{{ request.params.title }}</h2>
      <p>{{ request.params.description }}</p>
      <p>Price: ${{ request.params.price | money }}</p>
    </div>
  {% else %}
    <p>No products in the cart.</p>
  {% endif %}
  
  

{% schema %}
{
    "name": "Template Cart",
    "blocks": [
        {
            "type": "subtotal",
            "name": "Subtotal",
            "limit": 1
        },
        {
            "type": "update_button",
            "name": "Update Button",
            "limit": 1
        },
        {
            "type": "checkout_button",
            "name": "Checkout Button",
            "limit": 1
        }
    ]
}
{% endschema %}